#pageHeader {
  position: absolute;
  top: 10px;
  right: 10px;
}

#container {
  position: relative;
  display: inline-block;
  text-align: center;
}

#intro {
  position: absolute;
  top: 10px;
  right: 10px;
  position: absolute;
  color: white;
  top: 0px;
  left: 0px;
}

.dog {
  left: 0px;
  top: 0px;
  width: 800px;
  z-index: 1;
}

body {
  border: solid 1px;
  margin: 0 auto;
  padding: 75px;
  width: 30%;
  background-color: black;
  font-family: "calibri";
}

h1 {
  font-size: 45px;
}

h3 {
  color: gray;
  text-align: left;
  font-size: 35px;
  margin: 0px;
  padding: 0px;
}

p {
  color: white;
  text-align: justify;
  margin: 0px;
  padding: 0px;
  padding-bottom: 20px;
}

#supportingText {
  float: left;
  width: 70%;
  min-height: 500px;
}

#linkList {
  color: white;
  float: left;
  width: 20%;
  min-height: 500px;
  padding-top: 50px;
  text-align: left;
  padding-left: 30px;
}

a {
  color: white;
}

#lselect a {
  border-bottom: 1.5px dashed;
}
